*{
  background-color: #fc9;
}
h1, h2{
  text-align: center;
  margin: 0 4rem;
  background-color: rgb(208, 20, 255);
  border-radius: 1rem;
  padding: 1rem;
}

ul, li{
  background-color: rgb(255, 152, 152);
  padding: 1rem 1rem 1rem 2rem ;
  border-radius: 1rem;
  font-size: large;
}