header{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    display: flex;
    list-style-type: none;
    padding-right: 5rem;
}

.nav-link a{
    text-decoration: none;
    font-size: larger;
    font-weight: 900;
}

.nav-link li{
    margin: 1rem 1rem;

}

.my-detail{
    display: flex;
    align-items: center;
    
}

.social-media-link{
    display: flex;
    list-style-type: none;
    margin: 0rem 2rem;
}

.social-media-link li{
    margin: 0rem 2rem;
}
