body{
  background-color: rgb(220, 218, 218);
}
h2{
  text-align: center;
  text-decoration: underline;
}


.textAndBackgroundColor{
  color: #d63ea6;
}

.textAlignment{ /* Used to set the horizontal alignment of a text. */
  /* text-align: left; */
  /* text-align: right; */
  text-align: center;
}

.textAlignLast{ /* Used to change the last line of an element */
  /* text-align-last: left; */
  /* text-align-last: right; */
  text-align-last: center;
}

.textDirection{ /* Used to change the direction of an element*/
  direction: rtl;
  direction: ltr;
}

/* .verticalAlignment{ /* Sets the vertical alignment of an element */
 /* background-color: aqua;
  height: 26rem;
  width: 26rem;
  padding: 1rem;
  vertical-align: baseline;
  vertical-align: text-top;
  vertical-align: bottom;
  vertical-align: sub;
  vertical-align: super;
} */

.addDecoration{
  /* text-decoration-line: line-through; */
  /* text-decoration-line: overline; */
  /* text-decoration-line: underline; */
  text-decoration-line: overline underline line-through;
}

.specifyColor{
  text-decoration-line: overline underline line-through;
  text-decoration-color: red;
}

.specifyStyle{
  text-decoration-line: underline;
  /* text-decoration-style: solid; */
  text-decoration-style: double;
}

.specifyThickness{
  text-decoration-line: underline;
  /* text-decoration-thickness: auto; */
  /* text-decoration-thickness: 5px; */
  text-decoration-thickness: 25%;
}

.shorthand{
  text-decoration: dashed red underline 2px;
}

.textTransformation{
  /* text-transform: capitalize; */
  text-transform: uppercase;
  /* text-transform: lowercase; */
}

.textIdentation{ /* It is used to give space of first ling like "tab". */
  text-indent: 1rem;
}

.letterSpacing{ /* It is used to give spaces b/w letters/text. */
  /* letter-spacing: normal; */
  letter-spacing: 5px;
}

.lineHeight{ /* Used to give  */
  line-height: 150%;
}

.wordSpacing{ /* Used to give space between words. */
  word-spacing: 2rem;
}

.whiteSpace{ /* To handle white space */
  white-space: nowrap; 
}

