div{
  margin: .3rem;
  padding: .3rem;
  border: 3px solid #73AD21;
}
.static{
  position: static;
}

.relative{
  position: relative;
  left: 30px;
}

.fixed{
  position: fixed;
  top: 0;
  right: 0;
}

.temp{
  position: relative;
}

.absolute{
  position: absolute;
  top: 0;
  left: 0;
}

.sticky {
  position: sticky;
  bottom: 0; 
}
