
div li{
  font-size: larger;
  font-weight: bold;
  margin: .2rem;
}

div{
  margin: 1rem;
}
a{
  font-size: larger;
  padding: .5rem;
  border-radius: 1rem;
  color: red;
  text-decoration: none;
  background-color: skyblue;
  cursor: all-scroll;
}

a:hover{
  background-color: aquamarine;
}

ol li {
  list-style-type: upper-latin;
}

ul li {
  list-style-image: url('../giphy.webp');
  list-style-position: inside;

}

